/* * {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
} */
html{
  font-size: -webkit-calc(10vw); /* hack for internet is slow the rem is not load. */
  font-size: calc(10vw);
}
$primary-color = #F6893C 