body{
  background-color:#f0f0f0;
  /* overflow: hidden; */
  /* position: absolute; */
  /* left: 0; */
  /* bottom: .9rem; */
  /* width: 100%; */
  /* top: 0; */
  /* height: calc(100% - .9rem); */
  /* background: url('./images/bg.jpg') repeat ; */
}
.card{
  background-color: #fff;
  margin-bottom: 2px;
  padding:6px;
  border: 1px solid #f0f0f0;
  /* border-radius: 10px; */
}
.gallery-thumbs{
  padding: 1px 0 !important  
}
.clearfix::after{
  content: '';
  display:block;
  clear: both;
}
html{
  height: 100%;
}
.footer{
  height: .9rem !important;
  animation: action 1.2s linear;
}

@keyframes action{
  0%{
    opacity: 0;
    transform: translate3d(0,2222px,0)
  }
  92%{
    opacity: 0;
    transform: translate3d(0,10px,0)
  }
  100%{
    opacity: 1;
    transform: translate3d(0,0,0)
  }
}
 
  
  